<button><a href="/#/submit">New Post</a></button>
<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Image</th>
      <th>Title</th>
      <th>Submitter</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="a in table.articles">
      <td class="table--updown"><i class="fa fa-thumbs-up" ng-click="a.votes.up = a.votes.up + 1; table.post()"></i> <span>{{a.votes.up - a.votes.down}}</span> <i class="fa fa-thumbs-down" ng-click="a.votes.down = a.votes.down + 1; table.post()"></i></td>
      <td><a ng-href="{{a.linkUrl}}" target="_blank"><img class="table--thumb" ng-src="{{a.imageUrl}}"></a></td>
      <td><a ng-href="{{a.linkUrl}}" target="_blank">{{a.title}}</a></td>
      <td>{{a.submittedBy}}</td>
      <td>{{a.postDate | datePretty}}</td>
    </tr>
  </tbody>
</table>
